#include ".Xresources.d/base16/base16-onedark-256.Xresources"

Xft.dpi: 110
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:Hack:pixelsize=14
URxvt.letterSpace: -1
URxvt.scrollBar: false
